'editor':
  'tabLength': 4
  'showIndentGuide': true
  'showInvisibles': true
  'invisibles': {}
  'fontSize': 12
  'scrollPastEnd': true
  'softWrapAtPreferredLineLength': true
  'softWrap': true
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
  'projectHome': '/Users/josemoreira/GitHub/'
  'disabledPackages': [
    'tabs'
    'metrics'
    'exception-reporting'
  ]
'minimap':
  'plugins':
    'git-diff': true
'tabs':
  'showIcons': true
